/.depend.mk
/gmm-sum-accs
/gmm-acc-mllt
/gmm-mixup
/gmm-acc-hlda
/gmm-est-hlda
/gmm-init-et
/gmm-est-et
/gmm-et-acc-a
/gmm-et-get-b
/gmm-copy-et
/gmm-et-est-a
/gmm-et-get-a
/gmm-est-fmllr
/gmm-copy
/gmm-gselect
/gmm-info
/gmm-diff-accs
/gmm-est-map
/gmm-est
/gmm-init-mono
/gmm-align
/gmm-acc-stats
/gmm-global-sum-accs
/gmm-latgen-biglm-faster
/gmm-ismooth-stats
/gmm-global-get-frame-likes
/gmm-global-est-fmllr
/gmm-global-to-fgmm
/gmm-global-copy
/gmm-align-compiled-plusphones
/gmm-get-feat-deriv
/gmm-fmpe-acc-stats
/gmm-acc-stats2
/gmm-init-model-flat
/gmm-scale-accs
/gmm-get-stats-deriv
/gmm-est-rescale
/gmm-basis-fmllr-training
/gmm-boost-silence
/gmm-basis-fmllr-accs
/gmm-est-basis-fmllr
/gmm-latgen-map
/gmm-basis-fmllr-accs-gpost
/gmm-est-basis-fmllr-gpost
/gmm-acc-stats-ali
/gmm-decode-faster
/gmm-decode-simple
/gmm-decode-nbest
/gmm-align-compiled
/gmm-init-trans
/gmm-est-regtree-fmllr
/gmm-acc-stats-twofeats
/gmm-init-lvtln
/gmm-est-lvtln-trans
/gmm-train-lvtln-special
/gmm-init-model
/gmm-transform-means
/gmm-make-regtree
/gmm-decode-faster-regtree-fmllr
/gmm-post-to-gpost
/gmm-est-fmllr-gpost
/gmm-est-regtree-fmllr-ali
/gmm-est-regtree-mllr
/gmm-compute-likes
/gmm-decode-faster-regtree-mllr
/gmm-et-apply-c
/gmm-latgen-simple
/gmm-rescore-lattice
/gmm-decode-biglm-faster
/gmm-est-gaussians-ebw
/gmm-est-weights-ebw
/gmm-latgen-faster
/gmm-global-acc-stats
/gmm-global-est
/gmm-global-acc-stats-twofeats
