/.depend.mk
/example
/fstcopy
/fstpush-kaldi
/fsttoindex
/fstunion-kaldi
/fstminimize-kaldi
/fstdeterminize-kws
/fstdeterminizestar
/fstrmsymbols
/fstisstochastic
/fstminimizeencoded
/fstmakecontextfst
/fstmakecontextsyms
/fstaddsubsequentialloop
/fstaddselfloops
/fstrmepslocal
/fstcomposecontext
/fsttablecompose
/fstrand
/fstfactor
/fstdeterminizelog
/fstphicompose
/fstpropfinal
