/.depend.mk
/fgmm-global-acc-stats
/fgmm-global-sum-accs
/fgmm-global-est
/fgmm-global-merge
/fgmm-global-to-gmm
/fgmm-gselect
/fgmm-global-get-frame-likes
/fgmm-global-acc-stats-twofeats
/fgmm-global-copy
/fgmm-global-mixdown
