/.depend.mk
/init-ubm
/sgmm-init
/sgmm-gselect
/sgmm-est-fmllr
/sgmm-acc-stats
/sgmm-est-spkvecs
/sgmm-post-to-gpost
/sgmm-acc-stats-gpost
/sgmm-est-spkvecs-gpost
/sgmm-comp-prexform
/sgmm-est-fmllr-gpost
/sgmm-acc-fmllrbasis-ali
/sgmm-est-fmllrbasis
/sgmm-calc-distances
/sgmm-normalize
/sgmm-latgen-simple
/sgmm-latgen-faster
/sgmm-rescore-lattice
/sgmm-copy
/sgmm-write-ubm
/sgmm-mixup
/sgmm-info
/sgmm-acc-tree-stats
/sgmm-sum-tree-stats
/sgmm-build-tree
/sgmm-cluster-phones
/sgmm-init-from-tree-stats
/sgmm-est-ebw
/sgmm-acc-stats2
/sgmm-est-multi
/sgmm-align-compiled
/sgmm-acc-stats-ali
/sgmm-sum-accs
/sgmm-est
/sgmm-decode-faster
