/.depend.mk
/nnet-train-xent-hardlab-perutt
/nnet-train-xent-hardlab-frmshuff
/nnet-train-mse-tgtmat-frmshuff
/nnet-forward
/nnet-copy
/rbm-train-cd1-frmshuff
/rbm-convert-to-nnet
/nnet-trim-n-last-transforms
/nnet-train-mmi-sequential
